*{
    margin: 0;
    padding: 0;
}

p{
    text-align: center;
    font-size: 25px;
    margin: 30px;
    line-height: 200%;
}

h3{
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
    text-decoration-color: orange;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;
}

.concept ul{
    font-size: 25px;
    width: fit-content;
    border: 5px dashed red;
    margin: auto;
    margin-bottom: 20px;
    padding: 40px 60px 40px 60px;
    border-radius: 30px;
}

.concept li{
    padding: 10px;
}